@font-face {
  font-family: FigtreeBold;
  src: url(./Extras/Figtree/static/Figtree-Black.ttf);
}

@font-face {
  font-family: FigtreeRegular;
  src: url(./Extras/Figtree/static/Figtree-Regular.ttf);
}

@font-face {
  font-family: FigtreeSemiBold;
  src: url(./Extras/Figtree/static/Figtree-SemiBold.ttf);
}


* {
  margin: 0;
  padding: 0;
  word-wrap: wrap;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 40vh;
  height: 55vh;
  background-color: #ffffff;
  border-radius: 15px;
  border: solid 1.5px;
  box-shadow: 7px 7px;
}

#decorImage {
  display: flex;
  justify-content: center;
  margin: 19px 0px 23px 0px;
  height: 38.5%;
}

img {
  border-radius: 10px;
}

#learning {
  background-color: #f4d04e;
  border-radius: 4px;
  width: 23%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FigtreeBold";
  font-size: 14px;
  letter-spacing: 0.3px;
  margin: 0px 0px 15px 22px;
}

#published{
  font-family: "figtreeSemiBold";
  font-size: 14px;
  margin: 0px 0px 18px 22px
}

#title{
  font-family: "FigtreeBold";
  font-size: 12px;
  margin: 0px 0px 18px 22px
}

#title:hover {
  color: #f4d04e;
  transition: 200ms;
}

#context{
  font-family: "FigtreeRegular";
  font-size: 16px;
  margin: 0px 0px 0px 22px;
  line-height: 23px;
  color: #6b6b6b;
}

#user{
  display: flex;
  margin: 25px 0px 18px 22px;
}

#avatarImage{
  width: auto;
  height: 35px;
}

#avatarName{
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 15px;
  font-family: "figtreeBold";
  font-size: 14px;
}