@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --p-font: Inter; /* Fonte de parágrafos */
    --h-font: Poppins; /* Fonte de Títulos */
    --i-font: Raleway; /* Fonte de informações */
    --white: #FFFFFF;
    --off-white: #FAF8F4;
    --blue: #0F3141;
    --black: #000000;
    --orange: #F16F4F;
    --lite-orange: #EF7D60;
    --grey: #757B8A;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--p-font);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    background-color: transparent;
    border: none;
}

header {
    margin: 0.75rem 1.25rem 0rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links-header nav {
    display: none;
}

#sign-in-btn {
    display: none;
}

#introduction {
    background: linear-gradient(to bottom, var(--white) 0%, var(--white) 20%, transparent 100%), url(./assets/images/Instroduction-images/Introduction\ Background\ Image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction-content {
    margin-top: 4.813rem;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction-content h3 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.875rem;
    letter-spacing: 1%;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue);
}

#introduction-content h1 {
    margin-top: 0.5rem;
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 3.25rem;
    letter-spacing: -3%;
    text-align: center;
}

#introduction-btn {
    width: 15.125rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 12.875rem;
}

#right-arrow {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: var(--lite-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction-btn a {
    color: var(--white);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -1%;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}

#title-about h2 {
    font-family: var(--h-font);
    margin-top: 5.563rem;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -3%;
}

#about-items {
    margin-top: 3.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    margin-bottom: 3.938rem;
}

.about-item h3 {
    margin-top: 0.75rem;
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.125rem;
    letter-spacing: -2%;
}

.about-item p {
    margin-top: 1rem;
    color: var(--grey);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 1%;
}

#see-more-btn {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#see-more-btn a {
    color: var(--orange);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.688rem;
    letter-spacing: 1%;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-arrows {
    margin: 5rem 1.938rem 0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.title-arrows h2 {
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -3%;
}

.title-btn {
    display: flex;
    align-items: end;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

.title-btn img {
    max-width: 2rem;
    max-height: 2rem;
}

#products-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3.063rem;
    margin-bottom: 3rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    margin-bottom: 1.5rem;
}

.product-item img {
    margin-bottom: 0.375rem;
}

.product-item p span {
    font-family: var(--i-font);
    color: var(--grey);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 1%;
}

.product-item h3 {
    font-family: var(--i-font);
    color: var(--blue);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
}

.product-item p {
    font-family: var(--i-font);
    color: var(--blue);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 1%;
}

.product-item h4 {
    font-family: var(--i-font);
    color: var(--orange);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 1%;
}

#projects {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-projects h2 {
    font-family: var(--h-font);
    color: var(--white);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -3%;
    margin: 2.813rem 1.5rem 0rem 1.5rem;
}

#projects-items {
    margin-top: 3.063rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 3.938rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.188rem;
    width: 10rem;
}

.project-item img {
    margin-bottom: 0.5rem;
}

.project-item h3 {
    font-family: var(--h-font);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    margin-bottom: 0.125rem;
}

.project-item p {
    font-family: var(--i-font);
    color: #C2C2C2;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0%;
    width: 9.75rem;
}

#project-btn {
    display: none;
}

#news {
    background-image: url(./assets/images/News-images/News\ Background\ Image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#news-content {
    margin: 0rem 1.813rem 0rem 1.813rem;
    display: flex;
    flex-direction: column;
}

#news-content h3 {
    margin-top: 4.438rem;
    font-family: var(--h-font);
    color: var(--orange);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: -2%;
}

#news-content h2 {
    margin-top: 1rem;
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -3%;
}

#news-content p {
    margin-top: 0.563rem;
    color: var(--grey);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 1%;
}

#available-colors {
    margin-top: 1.813rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

#available-colors h4 {
    font-family: var(--i-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 1%;
}

#available-colors img {
    width: 10rem;
}

#news-btn {
    margin-top: 3.313rem;
    width: 10.5rem;
    height: 3.5rem;
    background-color: var(--orange);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20.625rem;
}

#news-btn a {
    color: var(--white);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -1%;
}

#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials-card {
    margin-top: 2.5rem;
    width: 20.875rem;
    height: 42.375rem;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 3.313rem;
}

#testimonial-person {
    margin: 2.313rem 5.5rem 0rem 5.938rem;
    width: 9rem;
    height: 12.5rem;
}

#testimonials-content {
    margin: 1.063rem 1.25rem 2.625rem 1.5rem;
    display: flex;
    flex-direction: column;
}

#quotes {
    width: 2rem;
    height: 2rem;
}

#testimonials-content h3 {
    margin-top: 1rem;
    font-family: var(--h-font);
    color: var(--blue);
    font-weight: 600;
    font-size: 1.16rem;
    line-height: 1.625rem;
    letter-spacing: -3%;
}

#testimonials-content p {
    margin-top: 1.5rem;
    color: var(--grey);
    font-family: 400;
    font-size: 1.05rem;
    line-height: 1.625rem;
    letter-spacing: 0%;
}

#testimonials-content h4 {
    margin-top: 1.438rem;
    font-family: var(--h-font);
    color: #565554;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.688rem;
    letter-spacing: -2%;
}

#one-decorative {
    position: absolute;
    right: -1rem;
    bottom: -7rem;
}

#one-decorative p {
    font-family: var(--i-font);
    color: #e2e5e2;
    font-weight: 700;
    font-size: 18rem;
    line-height: 100%;
    letter-spacing: 1%;
}

footer {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

#footer-links {
    display: none;
}

#copyrights {
    display: none;
}

#footer-policy-desktop {
    display: none;
}

#logo-footer {
    margin: 2.75rem 1.5rem 0rem 1.5rem;
}

#footer-top {
    margin: 0rem 1.25rem 0rem 1.25rem;
}

#phrase {
    margin-top: 2.125rem;
    font-family: var(--h-font);
    color: var(--white);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -2%;
}

#footer-contact {
    margin-top: 2.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#address {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

#address-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#contact-us {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

#contact-us-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer-contact h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
}

#footer-contact p {
    color: var(--white);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.313rem;
    letter-spacing: 0%;
}

#footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#footer-policy-mobile {
    margin: 1.938rem 2.563rem 0rem 1.438rem;
    display: flex;
    justify-content: space-between;
}

#footer-policy-mobile p {
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0%;
}

#footer-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3.438rem;
}

@media (min-width: 1024px) { 
    header {
        display: flex;
        margin: 0;
        height: 7.125rem;
        z-index: 999;
    }

    #logo-header {
        display: flex;
        align-items: center;
        margin-left: 4.813rem;
    }

    #logo-header img {
        width: 8.75rem;
    }

    #links-header {
        display: flex;
        align-items: center;
    }

    #links-header nav {
        display: flex;
    }

    ul {
        margin-left: 4.063rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    li a {
        color: var(--grey);
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0%;
    }

    li a span{
        color: var(--black);
        font-weight: 700;
    }

    #sign-in-btn {
        width: 7.875rem;
        height: 3.5rem;
        background-color: var(--orange);
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5.5rem;
    }

    #sign-in-btn a {
        color: var(--white);
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0%;
    }

    #header-btn button {
        display: none;
    }

    #introduction {
    background: linear-gradient(to bottom, var(--white) 0%, var(--white) 20%, transparent 100%), url(./assets/images/Instroduction-images/Introduction\ Background\ Image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #introduction-content {
        margin: 0rem;
    }

    #introduction-content h3 {
        margin-top: 3.5rem;
        font-size: 1.125rem;
    }

    #introduction-content h1 {
        margin-top: 0.75rem;
        font-size: 5.5rem;
        line-height: 5.875rem;
    }

    #introduction-btn {
        margin-top: 2.563rem;
        margin-bottom: 21.375rem;
    }

    #right-arrow {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: var(--lite-orange);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #introduction-btn a {
        color: var(--white);
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 100%;
        letter-spacing: -1%;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: var(--off-white);
    }

    #title-about h2 {
        margin-left: 6.438rem;
        margin-top: 7.063rem;
        font-size: 3.75rem;
    }

    #about-items {
        margin-left: 6.438rem;
        margin-top: 3.75rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3.75rem;
        margin-bottom: 8.375rem;
    }

    #about-item-hidden {
        display: none;
    }

    .about-item p {
        font-size: 1.125rem;
    }

    .title-arrows {
        display: flex;
    }

    .title-arrows h2 {
        font-size: 3.75rem;
        line-height: 100%;
    }

    #projects {
        position: relative;
    }

    #products-items {
        gap: 1.5rem;
        margin-top: 4.5rem;
        margin-bottom: 7.125rem;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .product-item img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }

    #title-projects {
        width: 100%;
    }

    #title-projects h2 {
        font-size: 3.75rem;
        line-height: 100%;
        margin: 8.063rem 6.125rem 0rem 6.125rem;
    }

    #projects-items {
        margin-top: 6.25rem;
        gap: 2.5rem;
        margin-bottom: 9.188rem;
    }

    .project-item {
        margin-bottom: 0rem;
        width: 25rem;
    }

    .project-item.project-item-hidden {
        display: none;
    }

    .project-item img {
        margin-bottom: 1.5rem;
    }

    .project-item h3 {
        font-size: 1.5rem;
        line-height: 100%;
        margin-bottom: 1rem;
    }

    .project-item h3 span {
        color: var(--orange);
    }

    .project-item p {
        font-size: 1.125rem;
        width: 100%;
    }

    #project-btn {
        display: flex;
        width: 4.625rem;
        height: 4.625rem;
        background-color: var(--orange);
        border: 0.5rem solid var(--blue);
        border-radius: 100%;
        position: absolute;
        right: 4.2rem;
        top: 32rem
    }

    #news-content {
        margin: 0rem 6.438rem 0rem 6.438rem;
        display: flex;
        flex-direction: column;
    }

    #news-content h2 {
        font-size: 3.75rem;
    }

    #news-content p {
        font-size: 1.125rem;
        line-height: 1.625rem;
        letter-spacing: 1%;
    }

    #available-colors {
        margin-top: 1.813rem;
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    #available-colors h4 {
        font-family: var(--i-font);
        font-weight: 600;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 1%;
    }

    #available-colors img {
        width: 10rem;
    }

    #news-btn {
        margin-top: 3.313rem;
        width: 10.5rem;
        height: 3.5rem;
        background-color: var(--orange);
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 20.625rem;
    }

    #news-btn a {
        color: var(--white);
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 100%;
        letter-spacing: -1%;
    }
}